In [419]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

import plotly.express as px
import geopandas as gpd

from datetime import datetime

pd.set_option('display.max_columns', None)

In [420]:
df = pd.read_csv("houses.csv")
df.head()

,description,Bedroom,Bathroom,Property Size,Nearby School,Nearby Mall,Ad List,Category,Facilities,Building Name,Developer,Tenure Type,Address,Completion Year,# of Floors,Total Units,Property Type,Parking Lot,Floor Range,Land Title,Firm Type,Firm Number,REN Number,Bus Stop,Mall,Park,School,Hospital,price,Highway,Nearby Railway Station,Railway Station
0,Iconic Building @ KL SETAPAK\nNew launching & ...,4,2,1000 sq.ft.,Sekolah Menengah Pendidikan Khas Cacat Penglih...,Setapak Central,98187451,"Apartment / Condominium, For sale",-,Kenwingston Platz,Kenwingston Group,Freehold,"Jalan Gombak, Setapak, Kuala Lumpur",-,-,-,Service Residence,2,-,Non Bumi Lot,VE,30338,-,Bus Stop Starparc Point\nBus Stop Setapak Cent...,Setapak Central,"Park at Taman Tasik Danau Kota, Setapak, Kuala...",Sekolah Menengah Pendidikan Khas Cacat Penglih...,Columbia Asia Hospital,RM 340 000,NaN,NaN,NaN
1,"FOR SALE @ RM250,000\nIntroduction:\n~ Pangsap...",3,2,980 sq.ft.,NaN,NaN,101683090,"Apartment / Condominium, For sale","Parking, Security, Swimming Pool, Playground, ...",Kenanga (Park View Court),-,Freehold,"Jalan Kenanga 3/8, Melaka City, Melaka",-,-,-,Apartment,1,Low,Non Bumi Lot,E,30812,REN 15862,NaN,NaN,NaN,NaN,NaN,RM 250 000,NaN,NaN,NaN
2,"[Below Market] Sri Lavender Apartment,Tmn Sepa...",3,2,1000 sq.ft.,NaN,NaN,103792905,"Apartment / Condominium, For sale","Playground, Minimart, Jogging Track, Barbeque ...",Sri Lavender Apartment,TLS Group,Freehold,"Jalan Sepakat Indah 2/1, Taman Sepakat Indah 2...",2007,13,445,Apartment,1,Medium,Non Bumi Lot,-,-,-,NaN,NaN,NaN,NaN,NaN,RM 230 000,SILK Sg Ramal (T) Toll Plaza,NaN,NaN
3,Flat Pandan Indah\nJalan Pandan Indah 3/3\nNon...,3,1,592 sq.ft.,NaN,NaN,103806240,"Apartment / Condominium, For sale","Parking, Playground, Minimart, Jogging Track",Flat Pandan Indah,-,Leasehold,"jalan pandan indah 3/3, Selangor, Ampang",-,-,-,Flat,1,-,Non Bumi Lot,E,11584,REN 16279,NaN,NaN,NaN,NaN,NaN,RM 158 000,NaN,NaN,NaN
4,"* Open-concept Soho with balcony, unblock view...",1,1,467 sq.ft.,Sekolah Jenis Kebangsaan (T) Ladang Midlands,i-Soho i-City,103806234,"Apartment / Condominium, For sale","Minimart, Gymnasium, Parking, Security",i-Soho @ i-City,i-Berhad,Freehold,"Jalan Plumbum 7/102, Shah Alam, Selangor",-,43,956,Studio,-,Low,Bumi Lot,E,31916,-,Bus Stop at Persiaran Permai 1\nBus Stop at Pe...,i-Soho i-City\nGulati\nCentral i-City Shopping...,"Park 2 at Section 7, Shah Alam\nPark 1 at Sect...",Sekolah Jenis Kebangsaan (T) Ladang Midlands\n...,Osel Clinic (Shah Alam)\nHospital Shah Alam,RM 305 000,NaN,NaN,NaN

In [421]:
df.shape

(4000, 32)

In [422]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4000 entries, 0 to 3999
Data columns (total 32 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   description             4000 non-null   object
 1   Bedroom                 4000 non-null   object
 2   Bathroom                4000 non-null   object
 3   Property Size           4000 non-null   object
 4   Nearby School           687 non-null    object
 5   Nearby Mall             365 non-null    object
 6   Ad List                 4000 non-null   int64
 7   Category                4000 non-null   object
 8   Facilities              4000 non-null   object
 9   Building Name           4000 non-null   object
 10  Developer               4000 non-null   object
 11  Tenure Type             4000 non-null   object
 12  Address                 4000 non-null   object
 13  Completion Year         4000 non-null   object
 14  # of Floors             4000 non-null   object
 15  Total Units             4000 non-null   object
 16  Property Type           4000 non-null   object
 17  Parking Lot             4000 non-null   object
 18  Floor Range             4000 non-null   object
 19  Land Title              4000 non-null   object
 20  Firm Type               3797 non-null   object
 21  Firm Number             3797 non-null   object
 22  REN Number              3797 non-null   object
 23  Bus Stop                708 non-null    object
 24  Mall                    475 non-null    object
 25  Park                    807 non-null    object
 26  School                  948 non-null    object
 27  Hospital                343 non-null    object
 28  price                   4000 non-null   object
 29  Highway                 141 non-null    object
 30  Nearby Railway Station  363 non-null    object
 31  Railway Station         485 non-null    object
dtypes: int64(1), object(31)
memory usage: 1000.1+ KB

In [423]:
df = df.drop(['description','Ad List','Firm Type','Firm Number','REN Number','# of Floors', 'Developer'] , axis = 1)

df = df.rename(columns = {'Bedroom' : 'Number of Bedroom'})
df = df.rename(columns = {'Bathroom' : 'Number of Bathroom'})

df = df.loc[:,['Address','Property Type','Property Size','Number of Bedroom','Number of Bathroom','Parking Lot','Floor Range','Completion Year','Tenure Type','Land Title', 'Nearby School','School','Mall','Nearby Mall','Highway','Railway Station','Nearby Railway Station','Bus Stop','Park','price']]

In [424]:
print(df['Property Type'].unique())
print(df['Number of Bedroom'].unique())
print(df['Number of Bathroom'].unique())
print(df['Parking Lot'].unique())
print(df['Floor Range'].unique())
print(df['Completion Year'].unique())
print(df['Tenure Type'].unique()) #Freehold, Leasehold
print(df['Land Title'].unique()) # Non Bumi Lot, Bumi Lot, Malay Reserved(Removed)
#print(df['Developer'].unique()) 
# Dropped developer because too many values

['Service Residence' 'Apartment' 'Flat' 'Studio' 'Condominium' 'Others'
 'Townhouse Condo' 'Duplex']
['4' '3' '1' '2' '5' '6' '-' '10' '8']
['2' '1' '3' '4' '5' '-' '6' '7' '8']
['2' '1' '-' '3' '4' '5' '9' '10' '6']
['-' 'Low' 'Medium' 'High']
['-' '2007' '2010' '2000' '2008' '2021' '2016' '1990' '1998' '2020' '2018'
 '2015' '2019' '2014' '2002' '1999' '2017' '2006' '2023' '2011' '2003'
 '2013' '2022' '1993' '1995' '1997' '2012' '1996' '2009' '2001' '2005'
 '2004' '1989' '2026' '2024' '2025' '1994' '1992' '1991' '1987' '1985']
['Freehold' 'Leasehold']
['Non Bumi Lot' 'Bumi Lot' 'Malay Reserved']

In [425]:
#Drop rows with Others Property Type
df.drop(df[df['Property Type'] == 'Others'].index, inplace = True)
df['Property Type'].value_counts()

Property Type
Condominium          1714
Apartment            1494
Service Residence     506
Flat                  247
Studio                 13
Duplex                  5
Townhouse Condo         4
Name: count, dtype: int64

In [426]:
#show the count value
df['Land Title'].value_counts()

Land Title
Non Bumi Lot      3346
Bumi Lot           629
Malay Reserved       8
Name: count, dtype: int64

In [427]:
# Drop rows with Malay Reserved Tenure Type
df.drop(df[df['Land Title'] == 'Malay Reserved'].index, inplace=True)

#show the count value
df['Land Title'].value_counts()

Land Title
Non Bumi Lot    3346
Bumi Lot         629
Name: count, dtype: int64

In [428]:
df.head()

,Address,Property Type,Property Size,Number of Bedroom,Number of Bathroom,Parking Lot,Floor Range,Completion Year,Tenure Type,Land Title,Nearby School,School,Mall,Nearby Mall,Highway,Railway Station,Nearby Railway Station,Bus Stop,Park,price
0,"Jalan Gombak, Setapak, Kuala Lumpur",Service Residence,1000 sq.ft.,4,2,2,-,-,Freehold,Non Bumi Lot,Sekolah Menengah Pendidikan Khas Cacat Penglih...,Sekolah Menengah Pendidikan Khas Cacat Penglih...,Setapak Central,Setapak Central,NaN,NaN,NaN,Bus Stop Starparc Point\nBus Stop Setapak Cent...,"Park at Taman Tasik Danau Kota, Setapak, Kuala...",RM 340 000
1,"Jalan Kenanga 3/8, Melaka City, Melaka",Apartment,980 sq.ft.,3,2,1,Low,-,Freehold,Non Bumi Lot,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,RM 250 000
2,"Jalan Sepakat Indah 2/1, Taman Sepakat Indah 2...",Apartment,1000 sq.ft.,3,2,1,Medium,2007,Freehold,Non Bumi Lot,NaN,NaN,NaN,NaN,SILK Sg Ramal (T) Toll Plaza,NaN,NaN,NaN,NaN,RM 230 000
3,"jalan pandan indah 3/3, Selangor, Ampang",Flat,592 sq.ft.,3,1,1,-,-,Leasehold,Non Bumi Lot,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,RM 158 000
4,"Jalan Plumbum 7/102, Shah Alam, Selangor",Studio,467 sq.ft.,1,1,-,Low,-,Freehold,Bumi Lot,Sekolah Jenis Kebangsaan (T) Ladang Midlands,Sekolah Jenis Kebangsaan (T) Ladang Midlands\n...,i-Soho i-City\nGulati\nCentral i-City Shopping...,i-Soho i-City,NaN,NaN,NaN,Bus Stop at Persiaran Permai 1\nBus Stop at Pe...,"Park 2 at Section 7, Shah Alam\nPark 1 at Sect...",RM 305 000

In [429]:
# Convert to numeric, handling errors
df['Completion Year'] = pd.to_numeric(df['Completion Year'], errors='coerce')  

current_year = datetime.now().year
df['Age of Unit'] = current_year - df['Completion Year']

# Replace NaN values with the mean of the 'Age of Unit' column
df['Age of Unit'].fillna(df['Age of Unit'].mean(), inplace=True)

# Convert 'Completion Year' to integer
df['Age of Unit'] = df['Age of Unit'].astype(int)

#Rearrange
df = df.loc[:,['Address','Property Type','Property Size','Number of Bedroom','Number of Bathroom','Parking Lot','Floor Range','Age of Unit','Tenure Type', 'Land Title', 'Nearby School','School','Mall','Nearby Mall','Highway','Railway Station','Nearby Railway Station','Bus Stop','Park','price']]

In [430]:
df.head(5)

,Address,Property Type,Property Size,Number of Bedroom,Number of Bathroom,Parking Lot,Floor Range,Age of Unit,Tenure Type,Land Title,Nearby School,School,Mall,Nearby Mall,Highway,Railway Station,Nearby Railway Station,Bus Stop,Park,price
0,"Jalan Gombak, Setapak, Kuala Lumpur",Service Residence,1000 sq.ft.,4,2,2,-,12,Freehold,Non Bumi Lot,Sekolah Menengah Pendidikan Khas Cacat Penglih...,Sekolah Menengah Pendidikan Khas Cacat Penglih...,Setapak Central,Setapak Central,NaN,NaN,NaN,Bus Stop Starparc Point\nBus Stop Setapak Cent...,"Park at Taman Tasik Danau Kota, Setapak, Kuala...",RM 340 000
1,"Jalan Kenanga 3/8, Melaka City, Melaka",Apartment,980 sq.ft.,3,2,1,Low,12,Freehold,Non Bumi Lot,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,RM 250 000
2,"Jalan Sepakat Indah 2/1, Taman Sepakat Indah 2...",Apartment,1000 sq.ft.,3,2,1,Medium,17,Freehold,Non Bumi Lot,NaN,NaN,NaN,NaN,SILK Sg Ramal (T) Toll Plaza,NaN,NaN,NaN,NaN,RM 230 000
3,"jalan pandan indah 3/3, Selangor, Ampang",Flat,592 sq.ft.,3,1,1,-,12,Leasehold,Non Bumi Lot,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,RM 158 000
4,"Jalan Plumbum 7/102, Shah Alam, Selangor",Studio,467 sq.ft.,1,1,-,Low,12,Freehold,Bumi Lot,Sekolah Jenis Kebangsaan (T) Ladang Midlands,Sekolah Jenis Kebangsaan (T) Ladang Midlands\n...,i-Soho i-City\nGulati\nCentral i-City Shopping...,i-Soho i-City,NaN,NaN,NaN,Bus Stop at Persiaran Permai 1\nBus Stop at Pe...,"Park 2 at Section 7, Shah Alam\nPark 1 at Sect...",RM 305 000

In [431]:
#Get State from Address
def get_state(x):
    state_list = ["Johor","Kedah","Kelantan","Kuala Lumpur","Melaka","Negeri Sembilan",'Penang',"Pahang","Perak","Perlis","Pulau Pinang","Sabah","Sarawak","Selangor","Terengganu","Labuan","Putrajaya"]
    if pd.notnull(x):
        x_list = x.split(',')
        stripped = [s.strip(' ') for s in x_list]
        try:
            return list(set(state_list) & set(stripped)) [0]
        except:
            #print(x)
            return np.NaN
    else:
        return np.NaN
    
# state = df['Address'].apply(get_state)
# df.insert(4, 'State', state)
# df.head(5)

# Create a new 'State' column
df['State'] = df['Address'].apply(get_state)

# Move 'State' column to the first position
df = df[['State'] + [col for col in df.columns if col != 'State']]

# Drop the original 'Address' column
df.drop('Address', axis=1, inplace=True)

df.head(5)

,State,Property Type,Property Size,Number of Bedroom,Number of Bathroom,Parking Lot,Floor Range,Age of Unit,Tenure Type,Land Title,Nearby School,School,Mall,Nearby Mall,Highway,Railway Station,Nearby Railway Station,Bus Stop,Park,price
0,Kuala Lumpur,Service Residence,1000 sq.ft.,4,2,2,-,12,Freehold,Non Bumi Lot,Sekolah Menengah Pendidikan Khas Cacat Penglih...,Sekolah Menengah Pendidikan Khas Cacat Penglih...,Setapak Central,Setapak Central,NaN,NaN,NaN,Bus Stop Starparc Point\nBus Stop Setapak Cent...,"Park at Taman Tasik Danau Kota, Setapak, Kuala...",RM 340 000
1,Melaka,Apartment,980 sq.ft.,3,2,1,Low,12,Freehold,Non Bumi Lot,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,RM 250 000
2,Selangor,Apartment,1000 sq.ft.,3,2,1,Medium,17,Freehold,Non Bumi Lot,NaN,NaN,NaN,NaN,SILK Sg Ramal (T) Toll Plaza,NaN,NaN,NaN,NaN,RM 230 000
3,Selangor,Flat,592 sq.ft.,3,1,1,-,12,Leasehold,Non Bumi Lot,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,RM 158 000
4,Selangor,Studio,467 sq.ft.,1,1,-,Low,12,Freehold,Bumi Lot,Sekolah Jenis Kebangsaan (T) Ladang Midlands,Sekolah Jenis Kebangsaan (T) Ladang Midlands\n...,i-Soho i-City\nGulati\nCentral i-City Shopping...,i-Soho i-City,NaN,NaN,NaN,Bus Stop at Persiaran Permai 1\nBus Stop at Pe...,"Park 2 at Section 7, Shah Alam\nPark 1 at Sect...",RM 305 000

In [432]:
df['State'].value_counts()

State
Selangor           1296
Penang             1024
Kuala Lumpur        693
Johor               407
Sabah               163
Sarawak             130
Melaka               58
Putrajaya            58
Negeri Sembilan      23
Pahang               17
Perak                15
Labuan                2
Kedah                 2
Terengganu            1
Kelantan              1
Name: count, dtype: int64

In [433]:
df.describe(include = 'all')

,State,Property Type,Property Size,Number of Bedroom,Number of Bathroom,Parking Lot,Floor Range,Age of Unit,Tenure Type,Land Title,Nearby School,School,Mall,Nearby Mall,Highway,Railway Station,Nearby Railway Station,Bus Stop,Park,price
count,3890,3975,3975,3975,3975,3975,3975,3975.000000,3975,3975,687,947,475,365,140,485,363,707,804,3975
unique,15,7,842,8,8,9,4,NaN,2,2,253,428,132,92,31,142,93,336,355,559
top,Selangor,Condominium,700 sq.ft.,3,2,1,Medium,NaN,Freehold,Non Bumi Lot,Vikas International School,Vikas International School,Mid Valley Megamall,Setapak Central,Loke Yew Toll Plaza,KTM Station Batu Caves (Komuter Seremban Line),KTM Station Batu Caves (Komuter Seremban Line),Bus Stop KL 1284 Wisma Buddist\nBus Stop KL 11...,"Park at Taman Halimahton, Seputeh, Kuala Lumpu...",RM 350 000
freq,1296,1711,199,2914,3113,1559,1398,NaN,2415,3346,19,26,26,19,17,35,23,26,26,80
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.309937,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.642650,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-2.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,39.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [434]:
#Drop Duplicate values
df.duplicated().sum()
#see which one has duplicate values
df[df.duplicated(keep=False)]

,State,Property Type,Property Size,Number of Bedroom,Number of Bathroom,Parking Lot,Floor Range,Age of Unit,Tenure Type,Land Title,Nearby School,School,Mall,Nearby Mall,Highway,Railway Station,Nearby Railway Station,Bus Stop,Park,price
74,Selangor,Apartment,800 sq.ft.,3,2,1,Low,12,Freehold,Non Bumi Lot,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,RM 270 000
78,Selangor,Condominium,850 sq.ft.,3,2,1,Medium,9,Leasehold,Non Bumi Lot,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,RM 245 000
88,Kuala Lumpur,Condominium,1200 sq.ft.,3,3,2,Medium,12,Freehold,Non Bumi Lot,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,RM 530 000
129,Selangor,Condominium,850 sq.ft.,3,2,1,Medium,9,Leasehold,Non Bumi Lot,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,RM 245 000
147,Penang,Apartment,700 sq.ft.,3,2,1,-,12,Freehold,Non Bumi Lot,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,RM 380 000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3944,Penang,Condominium,700 sq.ft.,3,2,1,Medium,30,Freehold,Non Bumi Lot,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,RM 330 000
3966,Selangor,Apartment,750 sq.ft.,3,2,-,Medium,12,Freehold,Non Bumi Lot,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,RM 260 000
3979,Penang,Condominium,1646 sq.ft.,4,3,2,High,6,Freehold,Non Bumi Lot,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,RM 1 177 000
3985,NaN,Service Residence,600 sq.ft.,2,1,1,High,12,Freehold,Non Bumi Lot,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,RM 480 000
3990,Penang,Apartment,872 sq.ft.,3,2,1,Medium,12,Leasehold,Non Bumi Lot,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,RM 480 000

In [435]:
df.replace("-", np.nan, inplace=True)

In [436]:
#Price Formatting
df['price'] = df['price'].str.replace('RM', '').str.replace(' ', '').str.strip().astype(int)
df.head(5)

,State,Property Type,Property Size,Number of Bedroom,Number of Bathroom,Parking Lot,Floor Range,Age of Unit,Tenure Type,Land Title,Nearby School,School,Mall,Nearby Mall,Highway,Railway Station,Nearby Railway Station,Bus Stop,Park,price
0,Kuala Lumpur,Service Residence,1000 sq.ft.,4,2,2,NaN,12,Freehold,Non Bumi Lot,Sekolah Menengah Pendidikan Khas Cacat Penglih...,Sekolah Menengah Pendidikan Khas Cacat Penglih...,Setapak Central,Setapak Central,NaN,NaN,NaN,Bus Stop Starparc Point\nBus Stop Setapak Cent...,"Park at Taman Tasik Danau Kota, Setapak, Kuala...",340000
1,Melaka,Apartment,980 sq.ft.,3,2,1,Low,12,Freehold,Non Bumi Lot,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,250000
2,Selangor,Apartment,1000 sq.ft.,3,2,1,Medium,17,Freehold,Non Bumi Lot,NaN,NaN,NaN,NaN,SILK Sg Ramal (T) Toll Plaza,NaN,NaN,NaN,NaN,230000
3,Selangor,Flat,592 sq.ft.,3,1,1,NaN,12,Leasehold,Non Bumi Lot,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,158000
4,Selangor,Studio,467 sq.ft.,1,1,NaN,Low,12,Freehold,Bumi Lot,Sekolah Jenis Kebangsaan (T) Ladang Midlands,Sekolah Jenis Kebangsaan (T) Ladang Midlands\n...,i-Soho i-City\nGulati\nCentral i-City Shopping...,i-Soho i-City,NaN,NaN,NaN,Bus Stop at Persiaran Permai 1\nBus Stop at Pe...,"Park 2 at Section 7, Shah Alam\nPark 1 at Sect...",305000

In [437]:
#Property Size Formatting
df['Property Size'] = df['Property Size'].str.replace(' sq.ft.', '').str.replace(' ', '').str.strip().astype(int)
df.head(5)

,State,Property Type,Property Size,Number of Bedroom,Number of Bathroom,Parking Lot,Floor Range,Age of Unit,Tenure Type,Land Title,Nearby School,School,Mall,Nearby Mall,Highway,Railway Station,Nearby Railway Station,Bus Stop,Park,price
0,Kuala Lumpur,Service Residence,1000,4,2,2,NaN,12,Freehold,Non Bumi Lot,Sekolah Menengah Pendidikan Khas Cacat Penglih...,Sekolah Menengah Pendidikan Khas Cacat Penglih...,Setapak Central,Setapak Central,NaN,NaN,NaN,Bus Stop Starparc Point\nBus Stop Setapak Cent...,"Park at Taman Tasik Danau Kota, Setapak, Kuala...",340000
1,Melaka,Apartment,980,3,2,1,Low,12,Freehold,Non Bumi Lot,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,250000
2,Selangor,Apartment,1000,3,2,1,Medium,17,Freehold,Non Bumi Lot,NaN,NaN,NaN,NaN,SILK Sg Ramal (T) Toll Plaza,NaN,NaN,NaN,NaN,230000
3,Selangor,Flat,592,3,1,1,NaN,12,Leasehold,Non Bumi Lot,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,158000
4,Selangor,Studio,467,1,1,NaN,Low,12,Freehold,Bumi Lot,Sekolah Jenis Kebangsaan (T) Ladang Midlands,Sekolah Jenis Kebangsaan (T) Ladang Midlands\n...,i-Soho i-City\nGulati\nCentral i-City Shopping...,i-Soho i-City,NaN,NaN,NaN,Bus Stop at Persiaran Permai 1\nBus Stop at Pe...,"Park 2 at Section 7, Shah Alam\nPark 1 at Sect...",305000

In [438]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3975 entries, 0 to 3999
Data columns (total 20 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   State                   3890 non-null   object
 1   Property Type           3975 non-null   object
 2   Property Size           3975 non-null   int32
 3   Number of Bedroom       3975 non-null   object
 4   Number of Bathroom      3975 non-null   object
 5   Parking Lot             2770 non-null   object
 6   Floor Range             2923 non-null   object
 7   Age of Unit             3975 non-null   int32
 8   Tenure Type             3975 non-null   object
 9   Land Title              3975 non-null   object
 10  Nearby School           687 non-null    object
 11  School                  947 non-null    object
 12  Mall                    475 non-null    object
 13  Nearby Mall             365 non-null    object
 14  Highway                 140 non-null    object
 15  Railway Station         485 non-null    object
 16  Nearby Railway Station  363 non-null    object
 17  Bus Stop                707 non-null    object
 18  Park                    804 non-null    object
 19  price                   3975 non-null   int32
dtypes: int32(3), object(17)
memory usage: 605.6+ KB

In [439]:
# TODO: 
# - Change Completion Year to Age of Unit ✅
# - Get State from Address ✅
# - Make Important Column
# - Assign that to new DataFrame called filtered_df
# - Modify Price formatting ✅
# - Modify Property Size formatting ✅
# - Do Type Handling and fillNA
# - Handle Missing Values
# - Make Facilties Column and Nearby Facilities