In [133]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

import plotly.express as px
import geopandas as gpd

pd.set_option('display.max_columns', None)

In [134]:
df = pd.read_csv("houses.csv")
df.head()

,description,Bedroom,Bathroom,Property Size,Nearby School,Nearby Mall,Ad List,Category,Facilities,Building Name,Developer,Tenure Type,Address,Completion Year,# of Floors,Total Units,Property Type,Parking Lot,Floor Range,Land Title,Firm Type,Firm Number,REN Number,Bus Stop,Mall,Park,School,Hospital,price,Highway,Nearby Railway Station,Railway Station
0,Iconic Building @ KL SETAPAK\nNew launching & ...,4,2,1000 sq.ft.,Sekolah Menengah Pendidikan Khas Cacat Penglih...,Setapak Central,98187451,"Apartment / Condominium, For sale",-,Kenwingston Platz,Kenwingston Group,Freehold,"Jalan Gombak, Setapak, Kuala Lumpur",-,-,-,Service Residence,2,-,Non Bumi Lot,VE,30338,-,Bus Stop Starparc Point\nBus Stop Setapak Cent...,Setapak Central,"Park at Taman Tasik Danau Kota, Setapak, Kuala...",Sekolah Menengah Pendidikan Khas Cacat Penglih...,Columbia Asia Hospital,RM 340 000,NaN,NaN,NaN
1,"FOR SALE @ RM250,000\nIntroduction:\n~ Pangsap...",3,2,980 sq.ft.,NaN,NaN,101683090,"Apartment / Condominium, For sale","Parking, Security, Swimming Pool, Playground, ...",Kenanga (Park View Court),-,Freehold,"Jalan Kenanga 3/8, Melaka City, Melaka",-,-,-,Apartment,1,Low,Non Bumi Lot,E,30812,REN 15862,NaN,NaN,NaN,NaN,NaN,RM 250 000,NaN,NaN,NaN
2,"[Below Market] Sri Lavender Apartment,Tmn Sepa...",3,2,1000 sq.ft.,NaN,NaN,103792905,"Apartment / Condominium, For sale","Playground, Minimart, Jogging Track, Barbeque ...",Sri Lavender Apartment,TLS Group,Freehold,"Jalan Sepakat Indah 2/1, Taman Sepakat Indah 2...",2007,13,445,Apartment,1,Medium,Non Bumi Lot,-,-,-,NaN,NaN,NaN,NaN,NaN,RM 230 000,SILK Sg Ramal (T) Toll Plaza,NaN,NaN
3,Flat Pandan Indah\nJalan Pandan Indah 3/3\nNon...,3,1,592 sq.ft.,NaN,NaN,103806240,"Apartment / Condominium, For sale","Parking, Playground, Minimart, Jogging Track",Flat Pandan Indah,-,Leasehold,"jalan pandan indah 3/3, Selangor, Ampang",-,-,-,Flat,1,-,Non Bumi Lot,E,11584,REN 16279,NaN,NaN,NaN,NaN,NaN,RM 158 000,NaN,NaN,NaN
4,"* Open-concept Soho with balcony, unblock view...",1,1,467 sq.ft.,Sekolah Jenis Kebangsaan (T) Ladang Midlands,i-Soho i-City,103806234,"Apartment / Condominium, For sale","Minimart, Gymnasium, Parking, Security",i-Soho @ i-City,i-Berhad,Freehold,"Jalan Plumbum 7/102, Shah Alam, Selangor",-,43,956,Studio,-,Low,Bumi Lot,E,31916,-,Bus Stop at Persiaran Permai 1\nBus Stop at Pe...,i-Soho i-City\nGulati\nCentral i-City Shopping...,"Park 2 at Section 7, Shah Alam\nPark 1 at Sect...",Sekolah Jenis Kebangsaan (T) Ladang Midlands\n...,Osel Clinic (Shah Alam)\nHospital Shah Alam,RM 305 000,NaN,NaN,NaN

In [135]:
df.shape

(4000, 32)

In [136]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4000 entries, 0 to 3999
Data columns (total 32 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   description             4000 non-null   object
 1   Bedroom                 4000 non-null   object
 2   Bathroom                4000 non-null   object
 3   Property Size           4000 non-null   object
 4   Nearby School           687 non-null    object
 5   Nearby Mall             365 non-null    object
 6   Ad List                 4000 non-null   int64
 7   Category                4000 non-null   object
 8   Facilities              4000 non-null   object
 9   Building Name           4000 non-null   object
 10  Developer               4000 non-null   object
 11  Tenure Type             4000 non-null   object
 12  Address                 4000 non-null   object
 13  Completion Year         4000 non-null   object
 14  # of Floors             4000 non-null   object
 15  Total Units             4000 non-null   object
 16  Property Type           4000 non-null   object
 17  Parking Lot             4000 non-null   object
 18  Floor Range             4000 non-null   object
 19  Land Title              4000 non-null   object
 20  Firm Type               3797 non-null   object
 21  Firm Number             3797 non-null   object
 22  REN Number              3797 non-null   object
 23  Bus Stop                708 non-null    object
 24  Mall                    475 non-null    object
 25  Park                    807 non-null    object
 26  School                  948 non-null    object
 27  Hospital                343 non-null    object
 28  price                   4000 non-null   object
 29  Highway                 141 non-null    object
 30  Nearby Railway Station  363 non-null    object
 31  Railway Station         485 non-null    object
dtypes: int64(1), object(31)
memory usage: 1000.1+ KB

In [137]:
df = df.drop(['description','Ad List','Firm Type','Firm Number','REN Number','# of Floors'] , axis = 1)

df = df.rename(columns = {'Bedroom' : 'Number of Bedroom'})
df = df.rename(columns = {'Bathroom' : 'Number of Bathroom'})

df = df.loc[:,['Address','Property Type','Property Size','Number of Bedroom','Number of Bathroom','Parking Lot','Floor Range','Completion Year','Tenure Type','Land Title', 'Developer', 'Nearby School','School','Mall','Nearby Mall','Highway','Railway Station','Nearby Railway Station','Bus Stop','Park','price']]

In [138]:
print(df['Property Type'].unique())
print(df['Number of Bedroom'].unique())
print(df['Number of Bathroom'].unique())
print(df['Parking Lot'].unique())
print(df['Floor Range'].unique)
print(df['Completion Year'].unique)
print(df['Tenure Type'].unique)
print(df['Land Title'].unique)
print(df['Developer'].unique)

['Service Residence' 'Apartment' 'Flat' 'Studio' 'Condominium' 'Others'
 'Townhouse Condo' 'Duplex']
['4' '3' '1' '2' '5' '6' '-' '10' '8']
['2' '1' '3' '4' '5' '-' '6' '7' '8']
['2' '1' '-' '3' '4' '5' '9' '10' '6']
<bound method Series.unique of 0            -
1          Low
2       Medium
3            -
4          Low
         ...
3995       Low
3996      High
3997       Low
3998    Medium
3999       Low
Name: Floor Range, Length: 4000, dtype: object>
<bound method Series.unique of 0          -
1          -
2       2007
3          -
4          -
        ...
3995    2021
3996    2008
3997       -
3998    2023
3999       -
Name: Completion Year, Length: 4000, dtype: object>
<bound method Series.unique of 0        Freehold
1        Freehold
2        Freehold
3       Leasehold
4        Freehold
          ...
3995     Freehold
3996     Freehold
3997     Freehold
3998     Freehold
3999     Freehold
Name: Tenure Type, Length: 4000, dtype: object>
<bound method Series.unique of 0       Non Bumi Lot
1       Non Bumi Lot
2       Non Bumi Lot
3       Non Bumi Lot
4           Bumi Lot
            ...
3995    Non Bumi Lot
3996    Non Bumi Lot
3997    Non Bumi Lot
3998    Non Bumi Lot
3999    Non Bumi Lot
Name: Land Title, Length: 4000, dtype: object>
<bound method Series.unique of 0                             Kenwingston Group
1                                             -
2                                     TLS Group
3                                             -
4                                      i-Berhad
                         ...
3995    Kay Pride Sdn Bhd (S P Setia Bhd Group)
3996                         Alor Vista Sdn Bhd
3997                       Symphony Life Berhad
3998                Mi Nest Development Sdn Bhd
3999                                          -
Name: Developer, Length: 4000, dtype: object>

In [ ]:
#TODO: Completion Year to Age of Unit